<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!--Le Less-->
    <link rel="stylesheet" type="text/css" href="../assets/css/tbh5v0.css" />

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../assets/css/docs.css" rel="stylesheet">
    <link href="../assets/css/compdocs.css" rel="stylesheet">
    <link href="../assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    <div class="container">

<!-- List
================================================== -->
<section id="float">
  <div class="page-header">
    <h1>浮层<small> <a href="../component/float/less/float.less">float.less</a></small></h1>
  </div>

  <div class="row">
    <div class="span0">
      <h3>气泡浮层</h3>
      <div id="tbh5v0" class="example">
        <div class="c-float-shortcutLayer">
            <div class="shtxt">您可以点击下面的按钮新增快捷方式到桌面！</div>
            <div class="shclose"></div>
            <div class="xjt"><span><em></em></span></div> 
        </div>
      </div>
    </div>
    
    <div class="span8">
    <h3>DOM结构</h3>
<pre>
&lt;div class="c-float-shortcutLayer"&gt;
    &lt;div class="shtxt"&gt;您可以点击下面的按钮新增快捷方式到桌面！&lt;/div&gt;
    &lt;div class="shclose"&gt;&lt;/div&gt;
    &lt;div class="xjt"&gt;&lt;span&gt;&lt;em&gt;&lt;/em&gt;&lt;/span&gt;&lt;/div&gt; 
&lt;/div&gt;
</pre>
    </div>
  </div>
  <br />
  
  <div class="row">
    <div class="span0">
      <h3>顶部弹出浮层</h3>
      <div id="tbh5v0" class="example">
	        <div class="c-float-fingPop">
	            <div class="innerC">
	                <div class="fingerImg"></div>
	                <div class="ftxt">请以两指滑动回到页面顶端对付对付对付</div>
	            </div>
	        </div>
      </div>
    </div>
    
    <div class="span8">
    <h3>DOM结构</h3>
<pre>
&lt;div class="c-float-fingPop"&gt;
    &lt;div class="innerC"&gt;
        &lt;div class="fingerImg"&gt;&lt;/div&gt;
        &lt;div class="ftxt"&gt;请以两指滑动回到页面顶端对付对付对付&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</pre>
    </div>
  </div>
  
  <div class="row">
    <div class="span0">
      <div id="tbh5v0" class="example">
		<div class="c-float-shakePop"><span>请摇晃手机以更新列表结果</span></div>
      </div>
    </div>
    
    <div class="span8">
<pre>
&lt;div class="c-float-shakePop"&gt;
    &lt;span&gt;请摇晃手机以更新列表结果&lt;/span&gt;
&lt;/div&gt;
</pre>
    </div>
  </div>
  
  <div class="row">
    <div class="span0">
      <div id="tbh5v0" class="example">
		<div class="c-float-impWarn"><span>重要提示</span></div>
      </div>
    </div>
    
    <div class="span8">
<pre>
&lt;div class="c-float-impWarn"&gt;
    &lt;span&gt;重要提示&lt;/span&gt;
&lt;/div&gt;
</pre>
    </div>
  </div>
  <br />
  
  <div class="row">
    <div class="span0">
      <h3>模态浮层</h3>
      <div id="tbh5v0" class="example">
        <div class="c-float-modePop">
            <div class="warnMsg">购物车已满，请进行删除整理</div>
            <div class="doBtn">
                <button>立即整理</button>
                <button>稍后再说</button>
            </div>
        </div>
      </div>
    </div>
    
    <div class="span8">
    <h3>DOM结构</h3>
<pre>
&lt;div class="c-float-modePop"&gt;
    &lt;div class="warnMsg"&gt;购物车已满，请进行删除整理&lt;/div&gt;
    &lt;div class="doBtn"&gt;
        &lt;button&gt;立即整理&lt;/button&gt;
        &lt;button&gt;稍后再说&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;
</pre>
    	</div>
    </div>
  <br />

  <div class="row">
    <div class="span0">
      <h3>删除浮层</h3>
      <div id="tbh5v0" class="example">
        <div class="c-float-delPop">
            <div class="deltxt">删除</div>
        </div>
      </div>
    </div>
    
    <div class="span8">
    <h3>DOM结构</h3>
<pre>
&lt;div class="c-float-delPop"&gt;
    &lt;div class="deltxt"&gt;删除&lt;/div&gt;
&lt;/div&gt;
</pre>
    	</div>
    </div>
  <br />
</section>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="../assets/js/widgets.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.js"></script>
    <script type="text/javascript" src="../assets/js/google-code-prettify/prettify.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/application.js"></script>
  </body>
</html>
