<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!--Le Less-->
    <link rel="stylesheet" type="text/css" href="../assets/css/tbh5v0.css" />

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../assets/css/docs.css" rel="stylesheet">
    <link href="../assets/css/compdocs.css" rel="stylesheet">
    <link href="../assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    <div class="container">

<!-- Icon
================================================== -->
<section id="icon">
  <div class="page-header">
    <h1>图标<small>支持的标签为<code>a、span</code> <a href="../component/icon/less/icon.less">icon.less</a></small></h1>    
  </div>
  <div class="row">
  	<!-- 商家推广 -->
  	<div class="span4">
  		<div id="tbh5v0">
  		  <h3>商家推广</h3>
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span2">
	          <col class="span2">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>类名</th>
				<th>展现</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	          	<td><code>c-icon-pt</code></td>
	          	<td><span class="c-icon-pt"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-ps</code></td>
	          	<td><span class="c-icon-ps"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-pj</code></td>
	          	<td><span class="c-icon-pj"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-pz</code></td>
	          	<td><span class="c-icon-pz"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-pf</code></td>
	          	<td><span class="c-icon-pf"></span></td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>
  	
  	<!-- 消费者保障 -->
  	<div class="span4">
  		<div id="tbh5v0">
  		  <h3>消费者保障</h3>
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span2">
	          <col class="span2">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>类名</th>
				<th>展现</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	          	<td><code>c-icon-dz</code></td>
	          	<td><span class="c-icon-dz"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-dr</code></td>
	          	<td><span class="c-icon-dr"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-dm</code></td>
	          	<td><span class="c-icon-dm"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-dh</code></td>
	          	<td><span class="c-icon-dh"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-dt</code></td>
	          	<td><span class="c-icon-dt"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-ds</code></td>
	          	<td><span class="c-icon-ds"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-de</code></td>
	          	<td><span class="c-icon-de"></span></td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>

  	<!-- 打分评价 -->
  	<div class="span4">
  		<div id="tbh5v0">
  		  <h3>打分评价</h3>
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span2">
	          <col class="span2">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>类名</th>
				<th>展现</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	          	<td><code>c-icon-fg</code></td>
	          	<td><span class="c-icon-fg"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-fm</code></td>
	          	<td><span class="c-icon-fm"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-fb</code></td>
	          	<td><span class="c-icon-fb"></span></td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>
  </div>
  
  <div class="row">
  	<!-- 买家评价 -->
  	<div class="span4">
  		<div id="tbh5v0">
  		  <h3>买家评价</h3>
  		  <p>买家级别分为4级，每级1～5个星，类名为<code>c-icon-b-{level}-{number}</code></p>
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span2">
	          <col class="span2">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>类名</th>
				<th>展现</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	          	<td><code>c-icon-b1</code></td>
	          	<td><span class="c-icon-b1"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-b2</code></td>
	          	<td><span class="c-icon-b2"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-b3</code></td>
	          	<td><span class="c-icon-b3"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-b4</code></td>
	          	<td><span class="c-icon-b4"></span></td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>

  	<!-- 卖家评价 -->
  	<div class="span4">
  		<div id="tbh5v0">
  		  <h3>卖家评价</h3>
  		  <p>卖家级别分为4级，每级1～5个星，类名为<code>c-icon-c-{level}-{number}</code></p>
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span2">
	          <col class="span2">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>类名</th>
				<th>展现</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	          	<td><code>c-icon-c1</code></td>
	          	<td><span class="c-icon-c1"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-c2</code></td>
	          	<td><span class="c-icon-c2"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-c3</code></td>
	          	<td><span class="c-icon-c3"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-c4</code></td>
	          	<td><span class="c-icon-c4"></span></td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>
  	
  	<!-- 小星星 -->
  	<div class="span4">
  		<div id="tbh5v0">
  		  <h3>小星星</h3>
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span2">
	          <col class="span2">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>类名</th>
				<th>展现</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	          	<td><code>c-icon-g1</code></td>
	          	<td><span class="c-icon-g1"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-g2</code></td>
	          	<td><span class="c-icon-g2"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-g3</code></td>
	          	<td><span class="c-icon-g3"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-g4</code></td>
	          	<td><span class="c-icon-g4"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-g5</code></td>
	          	<td><span class="c-icon-g5"></span></td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>
  </div>
  
  <div class="row">
  	<!-- 大星星 -->
  	<div class="span4">
  		<div id="tbh5v0">
  		  <h3>大星星</h3>
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span2">
	          <col class="span2">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>类名</th>
				<th>展现</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	          	<td><code>c-icon-gb1</code></td>
	          	<td><span class="c-icon-gb1"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-gb2</code></td>
	          	<td><span class="c-icon-gb2"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-gb3</code></td>
	          	<td><span class="c-icon-gb3"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-gb4</code></td>
	          	<td><span class="c-icon-gb4"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-gb5</code></td>
	          	<td><span class="c-icon-gb5"></span></td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>
  	
  	<!-- 旺旺状态 -->
  	<div class="span4">
  		<div id="tbh5v0">
  		  <h3>旺旺状态</h3>
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span2">
	          <col class="span2">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>类名</th>
				<th>展现</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	          	<td><code>c-icon-w1</code></td>
	          	<td><span class="c-icon-w1"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-w2</code></td>
	          	<td><span class="c-icon-w2"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-w3</code></td>
	          	<td><span class="c-icon-w3"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-w4</code></td>
	          	<td><span class="c-icon-w4"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-w5</code></td>
	          	<td><span class="c-icon-w5"></span></td>
	          </tr>
	          <tr>
	          	<td><code>c-icon-w6</code></td>
	          	<td><span class="c-icon-w6"></span></td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>
  </div>
</section>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="../assets/js/widgets.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.js"></script>
    <script type="text/javascript" src="../assets/js/google-code-prettify/prettify.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/application.js"></script>
    <script type="text/javascript" src="http://ux.etao.com/demo/portal.js"></script>
  </body>
</html>
