<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!--Le Less-->
    <link rel="stylesheet" type="text/css" href="../assets/css/tbh5v0.css" />

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../assets/css/docs.css" rel="stylesheet">
    <link href="../assets/css/compdocs.css" rel="stylesheet">
    <link href="../assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    <div class="container">

<!-- Form
================================================== -->
<section id="input">
  <div class="page-header">
    <h1>输入框<small> <a href="../component/form/less/form.less">form.less</a></small></h1>    
  </div>
  <div class="row">
  	<div class="span12">
  		<div id="tbh5v0">
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span3">
	          <col class="span3">
	          <col class="span6">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>类名/代码</th>
				<th>展现</th>
	            <th>描述</th>
	          </tr>
	        </thead>
	        <tbody>
	          <!-- 文本框 -->
	          <tr>
	            <td>
					<code>c-form-txt-normal</code>
	            </td>
	            <td>
              		<input type="text" value="" class="c-form-txt-normal" placeholder="普通文本框"/>
	            </td>
	            <td rowspan="5">
	            	
	            		文本框
<pre>
&lt;input type="text" class="classname" value=""/&gt;
</pre>
	            </td>
	          </tr>
	          <tr>
	          	<td>
	          		<code>c-form-txt-percent</code>
	          	</td>
	          	<td>
	          		<input type="text" value="" class="c-form-txt-percent" placeholder="通栏文本框"/>
	          	</td>
	          </tr>
	          <tr>
	          	<td>
	          		追加<code>error</code>类名
	          	</td>
	          	<td>
	          		<input type="text" value="收货人姓名" class="c-form-txt-normal error" placeholder="出错提示"/>
	          	</td>
	          </tr>
	          <tr>
	          	<td>
	          		追加<code>disabled</code>属性
	          	</td>
	          	<td>
	          		<input type="text" value="收货人姓名" class="c-form-txt-normal" placeholder="禁止状态" disabled/>
	          	</td>
	          </tr>
	          <tr>
	          	<td>
	          		<code>c-form-txt-small</code>
	          	</td>
	          	<td>
	          		<input type="text" value="" class="c-form-txt-small" placeholder="数字框"/>
	          	</td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>
  </div>
</section>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="../assets/js/widgets.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.js"></script>
    <script type="text/javascript" src="../assets/js/google-code-prettify/prettify.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/application.js"></script>
    <script type="text/javascript" src="http://ux.etao.com/demo/portal.js"></script>
  </body>
</html>
