<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!--Le Less-->
    <link rel="stylesheet" type="text/css" href="../assets/css/tbh5v0.css" />

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../assets/css/docs.css" rel="stylesheet">
    <link href="../assets/css/compdocs.css" rel="stylesheet">
    <link href="../assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    <div class="container">

<!-- logistics
================================================== -->
<section id="logistics">
  <div class="page-header">
    <h1>查看物流<small> <a href="../component/logistics/less/logistics.less">logistics.less</a></small></h1>    
  </div>
  <div class="row">
  	
  	<div class="span0">
  		<div id="tbh5v0" class="example">
  		  <h3>时间轴</h3>
        <div class="c-logis-detail">
          <ul>
            <li>
              <p class="logis-detail-date">今天</p>
              <div class="logis-detail-d logis-detail-first">
                <div class="logis-detail-content">
                  <p class="logis-detail-content-time">16:03</p>
                  <p class="logis-detail-content-detail">浙江杭州子湖区文教公司 由 图书签收 </p>
                </div>
              </div>
              <div class="logis-detail-d">
                <div class="logis-detail-content">
                  <p class="logis-detail-content-time">16:03</p>
                  <p class="logis-detail-content-detail">浙江杭州子湖区文教公司 由 图书签收 </p>
                </div>
              </div>
            </li>
            <li>
              <p class="logis-detail-date">昨天</p>
              <div class="logis-detail-d">
                <div class="logis-detail-content">
                  <p class="logis-detail-content-time">16:03</p>
                  <p class="logis-detail-content-detail">浙江杭州子湖区文教公司 由 图书签收 </p>
                </div>
              </div>
            </li>
            <li>
              <p class="logis-detail-date">06.01</p>
              <div class="logis-detail-d">
                <div class="logis-detail-content">
                  <p class="logis-detail-content-time">16:03</p>
                  <p class="logis-detail-content-detail">浙江杭州子湖区文教公司 由 图书签收 </p>
                </div>
              </div>
            </li>
            <li>
              <p class="logis-detail-date">05.30</p>
              <div class="logis-detail-d">
                <div class="logis-detail-content">
                  <p class="logis-detail-content-time">16:03</p>
                  <p class="logis-detail-content-detail">浙江杭州子湖区文教公司 由 图书签收 </p>
                </div>
              </div>
            </li>
          </ul>
      </div>
		</div>
  	</div>

  	<div class="span8">
	    <h3>DOM结构</h3>
		<pre>
    &lt;div class="c-logis-detail"&gt;
        &lt;ul&gt;
          &lt;li&gt;
            &lt;p class="logis-detail-date"&gt;今天&lt;/p&gt;
            &lt;div class="logis-detail-d logis-detail-first"&gt;
              &lt;div class="logis-detail-content"&gt;
                &lt;p class="logis-detail-content-time"&gt;16:03&lt;/p&gt;
                &lt;p class="logis-detail-content-detail"&gt;浙江杭州子湖区文教公司 由 图书签收 &lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="logis-detail-d"&gt;
              &lt;div class="logis-detail-content"&gt;
                &lt;p class="logis-detail-content-time"&gt;16:03&lt;/p&gt;
                &lt;p class="logis-detail-content-detail"&gt;浙江杭州子湖区文教公司 由 图书签收 &lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/li&gt;
          &lt;li&gt;
            &lt;p class="logis-detail-date"&gt;昨天&lt;/p&gt;
            &lt;div class="logis-detail-d"&gt;
              &lt;div class="logis-detail-content"&gt;
                &lt;p class="logis-detail-content-time"&gt;16:03&lt;/p&gt;
                &lt;p class="logis-detail-content-detail"&gt;浙江杭州子湖区文教公司 由 图书签收 &lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/li&gt;
          &lt;li&gt;
            &lt;p class="logis-detail-date"&gt;06.01&lt;/p&gt;
            &lt;div class="logis-detail-d"&gt;
              &lt;div class="logis-detail-content"&gt;
                &lt;p class="logis-detail-content-time"&gt;16:03&lt;/p&gt;
                &lt;p class="logis-detail-content-detail"&gt;浙江杭州子湖区文教公司 由 图书签收 &lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/li&gt;
          &lt;li&gt;
            &lt;p class="logis-detail-date"&gt;05.30&lt;/p&gt;
            &lt;div class="logis-detail-d"&gt;
              &lt;div class="logis-detail-content"&gt;
                &lt;p class="logis-detail-content-time"&gt;16:03&lt;/p&gt;
                &lt;p class="logis-detail-content-detail"&gt;浙江杭州子湖区文教公司 由 图书签收 &lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
		</pre>
    </div>

  </div>

</section>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="../assets/js/widgets.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.js"></script>
    <script type="text/javascript" src="../assets/js/google-code-prettify/prettify.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/application.js"></script>
    <script type="text/javascript" src="http://ux.etao.com/demo/portal.js"></script>
  </body>
</html>
