<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!--Le Less-->
    <link rel="stylesheet" type="text/css" href="../assets/css/tbh5v0.css" />

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../assets/css/docs.css" rel="stylesheet">
    <link href="../assets/css/compdocs.css" rel="stylesheet">
    <link href="../assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    <div class="container">

<!-- Pagenav
================================================== -->
<section id="pagenav">
  <div class="page-header">
    <h1>翻页<small> <a href="../component/pagenav/less/pagenav.less">pagenav.less</a></small></h1>
  </div>

  <div class="row">
    <div class="span0">
      <h3>翻页</h3>
      <div id="tbh5v0" class="example">
			<div id="pageNavDemo" class="c-pnav-con">
				<section class="c-p-sec">
					<div class="c-p-pre c-p-grey"><span class="c-p-p"><em></em></span><a>上一页</a></div>
					<div class="c-p-cur">
						<div class="c-p-arrow c-p-down"><span>1/3</span><span></span></div>
						<select class="c-p-select">
							<option>第1页</option>
							<option>第2页</option>
							<option>第3页</option>
						</select></div>
					<div class="c-p-next"><a>下一页</a><span class="c-p-p"><em></em></span></div>
				</section>
			</div>
      </div>
    </div>

    <div class="span5">
    <h3>基础DOM结构</h3>
    <p>
    	用于<code>div</code>标签，
                    引入<a href="../component/pagenav/js/pagenav.js">pagenav.js</a>，
  设定id和<code>c-pnav-con</code>的类名。翻页按钮不可点时添加<code>c-p-grey</code>样式。具体使用方法参见<a href="javascript.html#pagenav">JS模块 之 分页模块</a>
		</p>
<pre>
&lt;div id="pageNavDemo" class="c-pnav-con"&gt;
    &lt;section class="c-p-sec"&gt;
        &lt;div class="c-p-pre"&gt;
            &lt;span class="c-p-p"&gt;&lt;em&gt;&lt;/em&gt;&lt;/span&gt;&lt;a&gt;上一页&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="c-p-cur"&gt;
            &lt;div class="c-p-arrow c-p-down"&gt;
                &lt;span&gt;1/3&lt;/span&gt;&lt;span&gt;&lt;/span&gt;
            &lt;/div&gt;
            &lt;select class="c-p-select"&gt;
            &lt;/select&gt;
        &lt;/div&gt;
        &lt;div class="c-p-next"&gt;&lt;a&gt;下一页&lt;/a&gt;&lt;span class="c-p-p"&gt;&lt;em&gt;&lt;/em&gt;&lt;/span&gt;&lt;/div&gt;
    &lt;/section&gt;
&lt;/div&gt;
</pre>
    	</div>
    </div>
</section>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="../assets/js/widgets.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.js"></script>
    <script type="text/javascript" src="../assets/js/google-code-prettify/prettify.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/application.js"></script>
    <script type="text/javascript" src="http://ux.etao.com/demo/portal.js"></script>
  </body>
</html>
