<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!--Le Less-->
    <link rel="stylesheet" type="text/css" href="../assets/css/tbh5v0.css" />

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../assets/css/docs.css" rel="stylesheet">
    <link href="../assets/css/compdocs.css" rel="stylesheet">
    <link href="../assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    <div class="container">

<section id="search">
  <div class="page-header">
    <h1>搜索框<small> <a href="../component/form/less/form.less">form.less</a></small></h1>
  </div>
  
  <div class="row">
    <div class="span0">
    	<div id="tbh5v0">
	      	<div class="c-form-search">
				<input autocomplete="off" placeholder="请输入关键字" class="inp-search" id="inp-search-index" name="q" type="search" value="">
				<button type="button" style="display: none;"><span></span></button>
				<input class="bton-search" name="search-bton" type="submit" value="">
			</div>
		</div>
    </div>
    
    <div class="span5">
    <h3>DOM结构</h3>
		<pre>
&lt;div class="c-form-search"&gt;
	&lt;input autocomplete="off" class="inp-search" id="inp-search-index" name="q" type="search" value="我爱垦丁天气晴"&gt;
	&lt;button type="button" style="display: none;"&gt;&lt;span&gt;&lt;/span&gt;&lt;/button&gt;
	&lt;input class="bton-search" name="search-bton" type="submit" value=""&gt;
&lt;/div&gt;
		</pre>
    	</div>
    </div>
  <br>
  <div class="row">
    <div class="span0">
    	<div id="tbh5v0">
	      	<div class="c-form-search">
				<input autocomplete="off" class="inp-search" id="inp-search-index" name="q" type="search" value="我爱垦丁天气晴">
				<button type="button" style="display: block;"><span></span></button>
				<input class="bton-search" name="search-bton" type="submit" value="">
			</div>
		</div>
    </div>
    
    <div class="span5">
    <h3>DOM结构</h3>
		<pre>
&lt;div class="c-form-search"&gt;
	&lt;input autocomplete="off" class="inp-search" id="inp-search-index" name="q" type="search" value="我爱垦丁天气晴"&gt;
	&lt;button type="button" style="display: block;"&gt;&lt;span&gt;&lt;/span&gt;&lt;/button&gt;
	&lt;input class="bton-search" name="search-bton" type="submit" value=""&gt;
&lt;/div&gt;
		</pre>
    	</div>
    </div>
  <br>


</section>



    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="../assets/js/widgets.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.js"></script>
    <script type="text/javascript" src="../assets/js/google-code-prettify/prettify.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/application.js"></script>
    <script type="text/javascript" src="http://ux.etao.com/demo/portal.js"></script>
  </body>
</html>
