<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!--Le Less-->
    <link rel="stylesheet" type="text/css" href="../assets/css/tbh5v0.css" />

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../assets/css/docs.css" rel="stylesheet">
    <link href="../assets/css/compdocs.css" rel="stylesheet">
    <link href="../assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    <div class="container">

<!-- Sku
================================================== -->
<section id="sku">
  <div class="page-header">
    <h1>sku选择框<small> <a href="../component/form/less/sku.less">sku.less</a></small></h1>    
  </div>
  <div class="row">
  	<div class="span12">
  		<div id="tbh5v0">
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span3">
	          <col class="span3">
	          <col class="span6">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>类名/代码</th>
				<th>展现</th>
	            <th>描述</th>
	          </tr>
	        </thead>
	        <tbody>
	          <!-- sku -->
	          <tr>
	          	<td>
	          		<code>c-form-sku-2</code>
	          	</td>
	          	<td>
					<a class="c-form-sku-2">一二<span></span></a>
	          	</td>
	            <td rowspan="5">
	            	
	            		选项卡
<pre>
&lt;a class="classname"&gt;
    选项卡
    &lt;span&gt;&lt;/span&gt;
&lt;/a&gt;
</pre>
	            </td>
	          </tr>
	          <tr>
	          	<td>
	          		<code>c-form-sku-5</code>
	          	</td>
	          	<td>
					<a class="c-form-sku-5">一二三四五<span></span></a>
	          	</td>
	          </tr>
	          <tr>
	          	<td>
	          		<code>c-form-sku-9</code>
	          	</td>
	          	<td>
					<a class="c-form-sku-9">一二三四五六七八九<span></span></a>
	          	</td>
	          </tr>
	          <tr>
	          	<td>
	          		<code>c-form-sku-18</code>
	          	</td>
	          	<td>
					<a class="c-form-sku-18">一二三四五六七八九一二三四五六七八九<span></span></a>
	          	</td>
	          </tr>
	          <tr>
	          	<td>
	          		追加<code>selected</code>
	          	</td>
	          	<td>
					<a class="c-form-sku-18 selected">一二三四五六七八九一二三四五六七八九<span></span></a>
	          	</td>
	          </tr>
	          <tr>
	          	<td>
	          		追加<code>disabled</code>
	          	</td>
	          	<td>
					<a class="c-form-sku-18 disabled">一二三四五六七八九一二三四五六七八九<span></span></a>
	          	</td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>
  </div>
</section>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="../assets/js/widgets.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.js"></script>
    <script type="text/javascript" src="../assets/js/google-code-prettify/prettify.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/application.js"></script>
    <script type="text/javascript" src="http://ux.etao.com/demo/portal.js"></script>
  </body>
</html>
