<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!--Le Less-->
    <link rel="stylesheet" type="text/css" href="../assets/css/tbh5v0.css" />

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../assets/css/docs.css" rel="stylesheet">
    <link href="../assets/css/compdocs.css" rel="stylesheet">
    <link href="../assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    <div class="container">

<!-- sort
================================================== -->
<section id="sort">
  <div class="page-header">
    <h1>排序<small> <a href="../component/sort/less/sort.less">sort.less</a></small></h1>    
  </div>
  <div class="row">
  	
  	<div class="span0">
  		<div id="tbh5v0" class="example">
  		  <h3>排序</h3>
	      <div class="c-sort-box">
		      <div class="c-sort-arrow"></div>
		      <ul class="c-sort">
		          <li dataurl="json/list.html?q=0">人气 ↑<span>由高到低</span></li>
		          <li dataurl="json/list.html?q=1">人气 ↓<span>由低到高</span></li>
		          <li class="cur" dataurl="json/list.html?q=2">价格 ↑<span>由高到低</span></li>
		          <li dataurl="json/list.html?q=3">价格 ↓<span>由低到高</span></li>
		          <li dataurl="json/list.html?q=4">销量 ↑<span>由高到低</span></li>
		          <li dataurl="json/list.html?q=5">销量 ↓<span>由低到高</span></li>
		      </ul>
		  </div>     
		</div>
  	</div>

  	<div class="span8">
	    <h3>DOM结构</h3>
		<pre>
&lt;div class="c-sort-box"&gt;
  &lt;div class="c-sort-arrow"&gt;&lt;/div&gt;
  &lt;ul class="c-sort"&gt;
  &lt;li dataurl="json/list.html?q=0"&gt;人气 ↑&lt;span&gt;由高到低&lt;/span&gt;&lt;/li&gt;
  &lt;li dataurl="json/list.html?q=1"&gt;人气 ↓&lt;span&gt;由低到高&lt;/span&gt;&lt;/li&gt;
  &lt;li class="cur" dataurl="json/list.html?q=2"&gt;价格 ↑&lt;span&gt;由高到低&lt;/span&gt;&lt;/li&gt;
  &lt;li dataurl="json/list.html?q=3"&gt;价格 ↓&lt;span&gt;由低到高&lt;/span&gt;&lt;/li&gt;
  &lt;li dataurl="json/list.html?q=4"&gt;销量 ↑&lt;span&gt;由高到低&lt;/span&gt;&lt;/li&gt;
  &lt;li dataurl="json/list.html?q=5"&gt;销量 ↓&lt;span&gt;由低到高&lt;/span&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;
		</pre>
    </div>

  </div>

</section>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="../assets/js/widgets.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.js"></script>
    <script type="text/javascript" src="../assets/js/google-code-prettify/prettify.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/application.js"></script>
    <script type="text/javascript" src="http://ux.etao.com/demo/portal.js"></script>
  </body>
</html>
