<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!--Le Less-->
    <link rel="stylesheet" type="text/css" href="../assets/css/tbh5v0.css" />

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../assets/css/docs.css" rel="stylesheet">
    <link href="../assets/css/compdocs.css" rel="stylesheet">
    <link href="../assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    <div class="container">

<!-- Tab
================================================== -->
<section id="tab">
  <div class="page-header">
    <h1>选项卡<small> <a href="../component/tab/less/tab.less">tab.less</a></small></h1>
  </div>

  <div class="row">
    <div class="span0">
      <h3>基本样式</h3>
      <div id="tbh5v0" class="example">
		<div class="c-tab">
			<ul class="tab-2">
				<li class="cur">近三个月订单</li>
				<li><a href="" title="">三个月期订单</a></li>
			</ul>
		</div>
      </div>
    </div>
    
    <div class="span8">
    <h3>DOM结构</h3>
<pre>
&lt;div class="c-tab"&gt;
    &lt;ul class="tab-2"&gt;
        &lt;li class="cur"&gt;近三个月订单&lt;/li&gt;
        &lt;li&gt;&lt;a href="" title=""&gt;三个月期订单&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</pre>
    	</div>
    </div>
  <br />
  
  <div class="row">
    <div class="span0">
      <h3>基本样式</h3>
      <div id="tbh5v0" class="example">
            <div class="c-tab">
				<ul class="tab-3">
					<li><a href="" title="">手机话费</a></li>
					<li class="cur">QQ充值</a></li>
					<li><a href="" title="">游戏点卡</a></li>
				</ul>
			</div>
      </div>
    </div>
    
    <div class="span8">
    <h3>DOM结构</h3>
<pre>
&lt;div class="c-tab"&gt;
    &lt;ul class="tab-3"&gt;
        &lt;li&gt;&lt;a href="" title=""&gt;手机话费&lt;/a&gt;&lt;/li&gt;
        &lt;li class="cur"&gt;QQ充值&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="" title=""&gt;游戏点卡&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</pre>
    	</div>
    </div>
  <br />
  
  <div class="row">
    <div class="span0">
      <h3>基本样式</h3>
      <div id="tbh5v0" class="example">
        <div class="c-tab">
			<ul class="tab-4">
				<li><a href="" title="">首页</a></li>
				<li><a href="" title="">分类</a></li>
				<li class="cur"><a href="" title="">评价</a></li>
                <li><a href="" title="">特惠</a></li>
			</ul>
		</div>
      </div>
    </div>
    
    <div class="span8">
    <h3>DOM结构</h3>
<pre>
&lt;div class="c-tab"&gt;
    &lt;ul class="tab-4"&gt;
        &lt;li&gt;&lt;a href="" title=""&gt;首页&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="" title=""&gt;分类&lt;/a&gt;&lt;/li&gt;
        &lt;li class="cur"&gt;&lt;a href="" title=""&gt;评价&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="" title=""&gt;特惠&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</pre>
    	</div>
    </div>
  <br />

</section>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="../assets/js/widgets.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.js"></script>
    <script type="text/javascript" src="../assets/js/google-code-prettify/prettify.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/application.js"></script>
    <script type="text/javascript" src="http://ux.etao.com/demo/portal.js"></script>
  </body>
</html>
