<!-- Form
================================================== -->
<section id="checkbox">
  <div class="page-header">
    <h1>{{_i}}复选框<small> <a href="../component/form/less/form.less">form.less</a></small>{{/i}}</h1>    
  </div>
  <div class="row">
  	<div class="span12">
  		<div id="tbh5v0">
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span3">
	          <col class="span3">
	          <col class="span6">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>{{_i}}类名/代码{{/i}}</th>
				<th>{{_i}}展现{{/i}}</th>
	            <th>{{_i}}描述{{/i}}</th>
	          </tr>
	        </thead>
	        <tbody>
	          <!-- 复选按钮 -->
	          <tr>
	            <td>
	            	<code>c-form-checkbox-normal</code>
	            </td>
	            <td>
              		<input type="checkbox" value="" name="checkbox-normal-btn" class="c-form-checkbox-normal" checked/>
              		<input type="checkbox" value="" name="checkbox-normal-btn" class="c-form-checkbox-normal"/>
              		<input type="checkbox" value="" name="checkbox-normal-btn" class="c-form-checkbox-normal" disabled/>
	            </td>
	            <td rowspan="3">
	            	{{_i}}
	            		复选框
<pre>
&lt;input type="checkbox" class="classname" value=""/&gt;
</pre>
	            	{{/i}}
	            </td>
	          </tr>
	          <tr>
	          	<td>
	          		<code>c-form-checkbox</code>         		
	          	</td>
	          	<td>
              		<input type="checkbox" value="" name="checkbox-btn" class="c-form-checkbox" checked/>
              		<input type="checkbox" value="" name="checkbox-btn" class="c-form-checkbox"/>
              		<input type="checkbox" value="" name="checkbox-btn" class="c-form-checkbox" disabled/>
	          	</td>
	          </tr>
	          <tr>
	          	<td>
	          		<code>c-form-checkbox-blue</code>
	          	</td>
	          	<td>
              		<input type="checkbox" value="" name="checkbox-blue-btn" class="c-form-checkbox-blue" checked/>
              		<input type="checkbox" value="" name="checkbox-blue-btn" class="c-form-checkbox-blue"/>
              		<input type="checkbox" value="" name="checkbox-blue-btn" class="c-form-checkbox-blue" disabled/>
	          	</td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>
  </div>
</section>