<!-- List
================================================== -->
<section id="float">
  <div class="page-header">
    <h1>{{_i}}浮层<small> <a href="../component/float/less/float.less">float.less</a></small>{{/i}}</h1>
  </div>
  
  <div class="row">
    <div class="span0">
      <h3>{{_i}}非模态浮层{{/i}}</h3>
      <div id="tbh5v0" class="example">
          <div class="c-float-popWrap msgMode show">
              <div class="c-float-modePop">
                <div class="warnMsg">非模态浮层</div>
              </div>
          </div>
      </div>
    </div>
    
    <div class="span5">
    <h3>{{_i}}DOM结构{{/i}}</h3>
<pre>
&lt;div class="c-float-popWrap msgMode show"&gt;
    &lt;div class="c-float-modePop"&gt;
      &lt;div class="warnMsg"&gt;非模态浮层&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</pre>
    	</div>
    </div>
  <br />

  <div class="row">
    <div class="span0">
      <h3>{{_i}}模态浮层{{/i}}</h3>
      <div id="tbh5v0" class="example">
          <div class="c-float-popWrap alertMode show">
              <div class="c-float-modePop">
                <div class="warnMsg">模态浮层</div>
                <div class="doBtn">
                    <button class="ok">确定</button>
                    <button class="cancel">取消</button>
                </div>
              </div>
          </div>
      </div>
    </div>
    
    <div class="span5">
    <h3>{{_i}}DOM结构{{/i}}</h3>
<pre>
&lt;div class="c-float-popWrap alertMode show"&gt;
    &lt;div class="c-float-modePop"&gt;
      &lt;div class="warnMsg"&gt;模态浮层&lt;/div&gt;
      &lt;div class="content"&gt;内容内容&lt;/div&gt;
      &lt;div class="doBtn"&gt;
          &lt;button class="ok"&gt;确定&lt;/button&gt;
          &lt;button class="cancel"&gt;取消&lt;/button&gt;
      &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</pre>
      </div>
    </div>
  <br />

  <div class="row">
    <div class="span0">
      <h3>{{_i}}删除浮层{{/i}}</h3>
      <div id="tbh5v0" class="example">
        <div class="c-float-delPop">
            <div class="deltxt">删除</div>
        </div>
      </div>
    </div>
    
    <div class="span5">
    <h3>{{_i}}DOM结构{{/i}}</h3>
<pre>
&lt;div class="c-float-delPop"&gt;
    &lt;div class="deltxt"&gt;删除&lt;/div&gt;
&lt;/div&gt;
</pre>
    	</div>
    </div>
  <br />
</section>