<!-- logistics
================================================== -->
<section id="logistics">
  <div class="page-header">
    <h1>{{_i}}查看物流<small> <a href="../component/logistics/less/logistics.less">logistics.less</a></small>{{/i}}</h1>    
  </div>
  <div class="row">
  	
  	<div class="span0">
  		<div id="tbh5v0" class="example">
  		  <h3>{{_i}}时间轴{{/i}}</h3>
        <div class="c-logis-detail">
          <ul>
            <li>
              <p class="logis-detail-date">今天</p>
              <div class="logis-detail-d logis-detail-first">
                <div class="logis-detail-content">
                  <p class="logis-detail-content-time">16:03</p>
                  <p class="logis-detail-content-detail">浙江杭州子湖区文教公司 由 图书签收 </p>
                </div>
              </div>
              <div class="logis-detail-d">
                <div class="logis-detail-content">
                  <p class="logis-detail-content-time">16:03</p>
                  <p class="logis-detail-content-detail">浙江杭州子湖区文教公司 由 图书签收 </p>
                </div>
              </div>
            </li>
            <li>
              <p class="logis-detail-date">昨天</p>
              <div class="logis-detail-d">
                <div class="logis-detail-content">
                  <p class="logis-detail-content-time">16:03</p>
                  <p class="logis-detail-content-detail">浙江杭州子湖区文教公司 由 图书签收 </p>
                </div>
              </div>
            </li>
            <li>
              <p class="logis-detail-date">06.01</p>
              <div class="logis-detail-d">
                <div class="logis-detail-content">
                  <p class="logis-detail-content-time">16:03</p>
                  <p class="logis-detail-content-detail">浙江杭州子湖区文教公司 由 图书签收 </p>
                </div>
              </div>
            </li>
            <li>
              <p class="logis-detail-date">05.30</p>
              <div class="logis-detail-d">
                <div class="logis-detail-content">
                  <p class="logis-detail-content-time">16:03</p>
                  <p class="logis-detail-content-detail">浙江杭州子湖区文教公司 由 图书签收 </p>
                </div>
              </div>
            </li>
          </ul>
      </div>
		</div>
  	</div>

  	<div class="span8">
	    <h3>{{_i}}DOM结构{{/i}}</h3>
		<pre>
    &lt;div class="c-logis-detail"&gt;
        &lt;ul&gt;
          &lt;li&gt;
            &lt;p class="logis-detail-date"&gt;今天&lt;/p&gt;
            &lt;div class="logis-detail-d logis-detail-first"&gt;
              &lt;div class="logis-detail-content"&gt;
                &lt;p class="logis-detail-content-time"&gt;16:03&lt;/p&gt;
                &lt;p class="logis-detail-content-detail"&gt;浙江杭州子湖区文教公司 由 图书签收 &lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="logis-detail-d"&gt;
              &lt;div class="logis-detail-content"&gt;
                &lt;p class="logis-detail-content-time"&gt;16:03&lt;/p&gt;
                &lt;p class="logis-detail-content-detail"&gt;浙江杭州子湖区文教公司 由 图书签收 &lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/li&gt;
          &lt;li&gt;
            &lt;p class="logis-detail-date"&gt;昨天&lt;/p&gt;
            &lt;div class="logis-detail-d"&gt;
              &lt;div class="logis-detail-content"&gt;
                &lt;p class="logis-detail-content-time"&gt;16:03&lt;/p&gt;
                &lt;p class="logis-detail-content-detail"&gt;浙江杭州子湖区文教公司 由 图书签收 &lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/li&gt;
          &lt;li&gt;
            &lt;p class="logis-detail-date"&gt;06.01&lt;/p&gt;
            &lt;div class="logis-detail-d"&gt;
              &lt;div class="logis-detail-content"&gt;
                &lt;p class="logis-detail-content-time"&gt;16:03&lt;/p&gt;
                &lt;p class="logis-detail-content-detail"&gt;浙江杭州子湖区文教公司 由 图书签收 &lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/li&gt;
          &lt;li&gt;
            &lt;p class="logis-detail-date"&gt;05.30&lt;/p&gt;
            &lt;div class="logis-detail-d"&gt;
              &lt;div class="logis-detail-content"&gt;
                &lt;p class="logis-detail-content-time"&gt;16:03&lt;/p&gt;
                &lt;p class="logis-detail-content-detail"&gt;浙江杭州子湖区文教公司 由 图书签收 &lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
		</pre>
    </div>

  </div>

</section>