<!-- Pagenav
================================================== -->
<section id="pageindicate">
  <div class="page-header">
    <h1>{{_i}}页面指示器<small> <a href="../component/pagenav/less/pagenav.less">pagenav.less</a></small>{{/i}}</h1>
  </div>

  <div class="row">
    <div class="span0">
      <h3>{{_i}}页面指示器{{/i}}</h3>
      <div id="tbh5v0" class="example">
      	<div class="c-pnav-demo">
	        <div class="c-pnav-left">
	            <span></span>
	        </div>
	        <ul class="c-pnav-list">
	            <li></li>
	            <li></li>
	            <li></li>
	            <li class="cur"></li>
	            <li></li>
	        </ul>
	        <div class="c-pnav-right">
	            <span></span>
	        </div>
	     </div>
      </div>
    </div>

    <div class="span5">
    <h3>{{_i}}基础DOM结构{{/i}}</h3>
<pre>
&lt;div class="c-pnav-left"&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
&lt;ul class="c-pnav-list"&gt;
    &lt;li&gt;&lt;/li&gt;
    &lt;li&gt;&lt;/li&gt;
    &lt;li&gt;&lt;/li&gt;
    &lt;li class="cur"&gt;&lt;/li&gt;
    &lt;li&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;div class="c-pnav-right"&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
</pre>
    	</div>
    </div>
  <br />

</section>