<!-- Pagenav
================================================== -->
<section id="pagenav">
  <div class="page-header">
    <h1>{{_i}}翻页<small> <a href="../component/pagenav/less/pagenav.less">pagenav.less</a></small>{{/i}}</h1>
  </div>

  <div class="row">
    <div class="span0">
      <h3>{{_i}}翻页{{/i}}</h3>
      <div id="tbh5v0" class="example">
			<div id="pageNavDemo" class="c-pnav-con">
				<section class="c-p-sec">
					<div class="c-p-pre c-p-grey"><span class="c-p-p"><em></em></span><a>上一页</a></div>
					<div class="c-p-cur">
						<div class="c-p-arrow c-p-down"><span>1/3</span><span></span></div>
						<select class="c-p-select">
							<option>第1页</option>
							<option>第2页</option>
							<option>第3页</option>
						</select></div>
					<div class="c-p-next"><a>下一页</a><span class="c-p-p"><em></em></span></div>
				</section>
			</div>
      </div>
    </div>

    <div class="span5">
    <h3>{{_i}}基础DOM结构{{/i}}</h3>
    <p>{{_i}}
    	用于<code>div</code>标签，
                    引入<a href="../component/pagenav/js/pagenav.js">pagenav.js</a>，
  设定id和<code>c-pnav-con</code>的类名。翻页按钮不可点时添加<code>c-p-grey</code>样式。具体使用方法参见<a href="javascript.html#pagenav">JS模块 之 分页模块</a>{{/i}}
		</p>
<pre>
&lt;div id="pageNavDemo" class="c-pnav-con"&gt;
    &lt;section class="c-p-sec"&gt;
        &lt;div class="c-p-pre"&gt;
            &lt;span class="c-p-p"&gt;&lt;em&gt;&lt;/em&gt;&lt;/span&gt;&lt;a&gt;上一页&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="c-p-cur"&gt;
            &lt;div class="c-p-arrow c-p-down"&gt;
                &lt;span&gt;1/3&lt;/span&gt;&lt;span&gt;&lt;/span&gt;
            &lt;/div&gt;
            &lt;select class="c-p-select"&gt;
            &lt;/select&gt;
        &lt;/div&gt;
        &lt;div class="c-p-next"&gt;&lt;a&gt;下一页&lt;/a&gt;&lt;span class="c-p-p"&gt;&lt;em&gt;&lt;/em&gt;&lt;/span&gt;&lt;/div&gt;
    &lt;/section&gt;
&lt;/div&gt;
</pre>
    	</div>
    </div>
</section>