<!-- Form
================================================== -->
<section id="radio">
  <div class="page-header">
    <h1>{{_i}}单选框<small> <a href="../component/form/less/form.less">form.less</a></small>{{/i}}</h1>    
  </div>
  <div class="row">
  	<div class="span12">
  		<div id="tbh5v0">
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span3">
	          <col class="span3">
	          <col class="span6">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>{{_i}}类名/代码{{/i}}</th>
				<th>{{_i}}展现{{/i}}</th>
	            <th>{{_i}}描述{{/i}}</th>
	          </tr>
	        </thead>
	        <tbody>
	          <!-- 单选按钮 -->
	          <tr>
	            <td>
					<code>c-form-radio-normal</code>
	            </td>
	            <td>
              		<input type="radio" value="" name="radio-normal-btn" class="c-form-radio-normal" checked/>
              		<input type="radio" value="" name="radio-normal-btn" class="c-form-radio-normal"/>
              		<input type="radio" value="" name="radio-normal-btn" class="c-form-radio-normal" disabled/>
	            </td>
	            <td rowspan="3">
	            	{{_i}}
	            		单选框
<pre>
&lt;input type="radio" class="classname" value=""/&gt;
</pre>
	            	{{/i}}
	            </td>
	          </tr>
	          <tr>
	          	<td>
	          		<code>c-form-radio</code>        		
	          	</td>
	          	<td>
              		<input type="radio" value="" name="radio-btn" class="c-form-radio" checked/>
              		<input type="radio" value="" name="radio-btn" class="c-form-radio"/>
              		<input type="radio" value="" name="radio-btn" class="c-form-radio" disabled/>
	          	</td>
	          </tr>
	          <tr>
	          	<td>
	          		<code>c-form-radio-blue</code>
	          	</td>
	          	<td>
              		<input type="radio" value="" name="radio-blue-btn" class="c-form-radio-blue" checked/>
              		<input type="radio" value="" name="radio-blue-btn" class="c-form-radio-blue"/>
              		<input type="radio" value="" name="radio-blue-btn" class="c-form-radio-blue" disabled/>
	          	</td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>
  </div>
</section>