<section id="search">
  <div class="page-header">
    <h1>搜索框<small> <a href="../component/form/less/form.less">form.less</a></small></h1>
  </div>
  
  <div class="row">
    <div class="span0">
    	<div id="tbh5v0">
	      	<div class="c-form-search">
				<input autocomplete="off" placeholder="请输入关键字" class="inp-search" id="inp-search-index" name="q" type="search" value="">
				<button type="button" style="display: none;"><span></span></button>
				<input class="bton-search" name="search-bton" type="submit" value="">
			</div>
		</div>
    </div>
    
    <div class="span5">
    <h3>DOM结构</h3>
		<pre>
&lt;div class="c-form-search"&gt;
	&lt;input autocomplete="off" class="inp-search" id="inp-search-index" name="q" type="search" value="我爱垦丁天气晴"&gt;
	&lt;button type="button" style="display: none;"&gt;&lt;span&gt;&lt;/span&gt;&lt;/button&gt;
	&lt;input class="bton-search" name="search-bton" type="submit" value=""&gt;
&lt;/div&gt;
		</pre>
    	</div>
    </div>
  <br>
  <div class="row">
    <div class="span0">
    	<div id="tbh5v0">
	      	<div class="c-form-search">
				<input autocomplete="off" class="inp-search" id="inp-search-index" name="q" type="search" value="我爱垦丁天气晴">
				<button type="button" style="display: block;"><span></span></button>
				<input class="bton-search" name="search-bton" type="submit" value="">
			</div>
		</div>
    </div>
    
    <div class="span5">
    <h3>DOM结构</h3>
		<pre>
&lt;div class="c-form-search"&gt;
	&lt;input autocomplete="off" class="inp-search" id="inp-search-index" name="q" type="search" value="我爱垦丁天气晴"&gt;
	&lt;button type="button" style="display: block;"&gt;&lt;span&gt;&lt;/span&gt;&lt;/button&gt;
	&lt;input class="bton-search" name="search-bton" type="submit" value=""&gt;
&lt;/div&gt;
		</pre>
    	</div>
    </div>
  <br>


</section>


