<!-- Form
================================================== -->
<section id="select">
  <div class="page-header">
    <h1>{{_i}}下拉框<small> <a href="../component/form/less/form.less">form.less</a></small>{{/i}}</h1>    
  </div>
  <div class="row">
  	<div class="span12">
  		<div id="tbh5v0">
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span3">
	          <col class="span3">
	          <col class="span6">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>{{_i}}类名/代码{{/i}}</th>
				<th>{{_i}}展现{{/i}}</th>
	            <th>{{_i}}描述{{/i}}</th>
	          </tr>
	        </thead>
	        <tbody>
	          <!-- 选择框 -->
	          <tr>
	          	<td>
	          		<code>c-form-select-normal</code>
	          	</td>
	          	<td>
					<div class="c-form-select-normal">
					    <select>
					        <option>选项1</option>
					        <option>选项2</option>
					        <option>选项3</option>
					        <option>选项4</option>
					    </select>
					</div>
	          	</td>
	            <td rowspan="2">
	            	{{_i}}
	            		选择框
<pre>
&lt;div class="classname"&gt;
    &lt;select&gt;
        &lt;option&gt;选项1&lt;/option&gt;
        &lt;option&gt;选项2&lt;/option&gt;
        &lt;option&gt;选项3&lt;/option&gt;
        &lt;option&gt;选项4&lt;/option&gt;
    &lt;/select&gt;
&lt;/div&gt;
</pre>
	            	{{/i}}
	            </td>
	          </tr>
	          <tr>
	          	<td>
	          		<code>c-form-select-page</code>
	          	</td>
	          	<td>
					<div class="c-form-select-page">
					    <select>
					        <option>页码1</option>
					        <option>页码2</option>
					        <option>页码3</option>
					        <option>页码4</option>
					    </select>
					</div>
	          	</td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>
  </div>
</section>