<!-- Sku
================================================== -->
<section id="sku">
  <div class="page-header">
    <h1>{{_i}}sku选择框<small> <a href="../component/form/less/sku.less">sku.less</a></small>{{/i}}</h1>    
  </div>
  <div class="row">
  	<div class="span12">
  		<div id="tbh5v0">
	      <table class="table table-bordered table-striped">
	        <colgroup>
	          <col class="span3">
	          <col class="span3">
	          <col class="span6">
	        </colgroup>
	        <thead>
	          <tr>
	            <th>{{_i}}类名/代码{{/i}}</th>
				<th>{{_i}}展现{{/i}}</th>
	            <th>{{_i}}描述{{/i}}</th>
	          </tr>
	        </thead>
	        <tbody>
	          <!-- sku -->
	          <tr>
	          	<td>
	          		<code>c-form-sku-2</code>
	          	</td>
	          	<td>
					<a class="c-form-sku-2">一二<span></span></a>
	          	</td>
	            <td rowspan="5">
	            	{{_i}}
	            		选项卡
<pre>
&lt;a class="classname"&gt;
    选项卡
    &lt;span&gt;&lt;/span&gt;
&lt;/a&gt;
</pre>
	            	{{/i}}
	            </td>
	          </tr>
	          <tr>
	          	<td>
	          		<code>c-form-sku-5</code>
	          	</td>
	          	<td>
					<a class="c-form-sku-5">一二三四五<span></span></a>
	          	</td>
	          </tr>
	          <tr>
	          	<td>
	          		<code>c-form-sku-9</code>
	          	</td>
	          	<td>
					<a class="c-form-sku-9">一二三四五六七八九<span></span></a>
	          	</td>
	          </tr>
	          <tr>
	          	<td>
	          		<code>c-form-sku-18</code>
	          	</td>
	          	<td>
					<a class="c-form-sku-18">一二三四五六七八九一二三四五六七八九<span></span></a>
	          	</td>
	          </tr>
	          <tr>
	          	<td>
	          		追加<code>selected</code>
	          	</td>
	          	<td>
					<a class="c-form-sku-18 selected">一二三四五六七八九一二三四五六七八九<span></span></a>
	          	</td>
	          </tr>
	          <tr>
	          	<td>
	          		追加<code>disabled</code>
	          	</td>
	          	<td>
					<a class="c-form-sku-18 disabled">一二三四五六七八九一二三四五六七八九<span></span></a>
	          	</td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>
  </div>
</section>