<!-- taoplus
================================================== -->
<section id="taoplus">
  <div class="page-header">
    <h1>{{_i}}分类筛选<small> <a href="../component/taoplus/less/taoplus2.less">taoplus2.less</a></small>{{/i}}</h1>    
  </div>
  <div class="row">
  	
  	<div class="span0">
  		<div id="tbh5v0" class="example">
  		  <h3>{{_i}}排序{{/i}}</h3>
	      <div id="J_Taojia" class="taoplus" style="position:static">
          <div class="circle show" style="position:static">
            <div class="tpicons">
              <ul>
                <li class="more"><a dataurl="http://wapa.taobao.com/channel/chn/mobile/application.html?pds=apply%23h%23taojia"></a><span class="bg"></span></li>
                <li class="logis"><a dataurl="http://tm.wapa.taobao.com/order_list.htm?statusId=5&amp;pds=wuliu%23h%23taojia"><strong class="num">3</strong></a><span class="bg"></span></li>
                <li class="ww"><a dataurl="http://im.wapa.taobao.com/ww/ad_ww_lately_contacts.htm?pds=ww%23h%23taojia"></a><span class="bg"></span></li>
                <li class="individ"><a dataurl="http://my.wapa.taobao.com/my_taobao.htm?pds=mytaobao%23h%23taojia"></a><span class="bg"></span></li>
                <li class="car"><a dataurl="http://d.wapa.taobao.com/my_bag.htm?pds=cart%23h%23taojia"><strong class="num">N</strong></a><span class="bg"></span></li>
                <li class="search"><a dataurl="http://wapa.taobao.com/channel/act/sale/searchlist.html?pds=search%23h%23taojia"></a><span class="bg"></span></li>
              </ul>
            </div>
            <div class="tplogo">
              <a href="http://m.taobao.com"></a><span class="bg"></span>
            </div>
          </div>
          <div class="cart none">
            <img src="http://a.tbcdn.cn/mw/s/common/icons/nopic/avatar-40.png"><span></span>
          </div>
          <div class="tpbtn on">
            <div>
              <ul style="width: 80px; left: -40px;">
                <li class="icontao p"></li>
                <li class="iconlogis iconact"></li>
              </ul>
            </div>
            <p class="num">3</p>
          </div>
        </div>   
		  </div>
  	</div>

  	<div class="span5">
	    <h3>{{_i}}DOM结构{{/i}}</h3>
		  <pre>
	&lt;div id="J_Taojia" class="taoplus" style="position:static"&gt;
          &lt;div class="circle show" style="position:static"&gt;
            &lt;div class="tpicons"&gt;
              &lt;ul&gt;
                &lt;li class="more"&gt;&lt;a dataurl="http://wapa.taobao.com/channel/chn/mobile/application.html?pds=apply%23h%23taojia"&gt;&lt;/a&gt;&lt;span class="bg"&gt;&lt;/span&gt;&lt;/li&gt;
                &lt;li class="logis"&gt;&lt;a dataurl="http://tm.wapa.taobao.com/order_list.htm?statusId=5&amp;pds=wuliu%23h%23taojia"&gt;&lt;strong class="num"&gt;3&lt;/strong&gt;&lt;/a&gt;&lt;span class="bg"&gt;&lt;/span&gt;&lt;/li&gt;
                &lt;li class="ww"&gt;&lt;a dataurl="http://im.wapa.taobao.com/ww/ad_ww_lately_contacts.htm?pds=ww%23h%23taojia"&gt;&lt;/a&gt;&lt;span class="bg"&gt;&lt;/span&gt;&lt;/li&gt;
                &lt;li class="individ"&gt;&lt;a dataurl="http://my.wapa.taobao.com/my_taobao.htm?pds=mytaobao%23h%23taojia"&gt;&lt;/a&gt;&lt;span class="bg"&gt;&lt;/span&gt;&lt;/li&gt;
                &lt;li class="car"&gt;&lt;a dataurl="http://d.wapa.taobao.com/my_bag.htm?pds=cart%23h%23taojia"&gt;&lt;strong class="num"&gt;N&lt;/strong&gt;&lt;/a&gt;&lt;span class="bg"&gt;&lt;/span&gt;&lt;/li&gt;
                &lt;li class="search"&gt;&lt;a dataurl="http://wapa.taobao.com/channel/act/sale/searchlist.html?pds=search%23h%23taojia"&gt;&lt;/a&gt;&lt;span class="bg"&gt;&lt;/span&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/div&gt;
            &lt;div class="tplogo"&gt;
              &lt;a href="http://m.taobao.com"&gt;&lt;/a&gt;&lt;span class="bg"&gt;&lt;/span&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="cart none"&gt;
            &lt;img src="http://a.tbcdn.cn/mw/s/common/icons/nopic/avatar-40.png"&gt;&lt;span&gt;&lt;/span&gt;
          &lt;/div&gt;
          &lt;div class="tpbtn on"&gt;
            &lt;div&gt;
              &lt;ul style="width: 80px; left: -40px;"&gt;
                &lt;li class="icontao p"&gt;&lt;/li&gt;
                &lt;li class="iconlogis iconact"&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/div&gt;
            &lt;p class="num"&gt;3&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
		  </pre>
    </div>

  </div>

</section>